<div class="container text-center mt-5">
        <div class="rock-text">うんざりピーポーマスター</div>
        <p>現実世界にいそうな難易度の高いキャラクターを多数用意しました。彼らとの会話を通じて、実際に彼らのような人と出会ってしまった時の対応方法を練習できるアプリケーションです。</p>
        <button class="btn btn-primary mb-4">Play</button>
        <h2>どのステージで話す？</h2>
        <div class="btn-group-vertical w-50 mx-auto">
            <button class="btn btn-secondary">マウティングゴリラ編</button>
            <button class="btn btn-secondary">超絶お嬢様編</button>
            <button class="btn btn-secondary">やばすぎる同僚編</button>
            <button class="btn btn-secondary">無能上司編</button>
            <button class="btn btn-secondary">変態担当者編</button>
        </div>
        <div class="mt-4">
            <img src="gorilla_image_url" class="img-fluid" alt="ゴリラの画像">
            <p>ここにAIを組み込んで会話ができるようにする。<br>
               あなた「おはようございます」<br>
               ゴリラ「……あ？」<br>
               みたいな感じで会話できるようにしたい。</p>
        </div>
    </div>