<div class="container text-center mt-5">
        <div class="rock-text">うんざりピーポーマスター</div>
        <p class="specific-paragraph">難易度の高いキャラクター達との会話を通じて、コミュニケーションスキルを練習できるアプリケーションです</p>
        
        <div class="mt-4">
            <%= image_tag 'gorilla.jpg', alt: 'ゴリラ画像', class: 'img-fluid' %>
        </div>
        <br>
        <h2>どのステージで話す？</h2>
        <div class="btn-group-vertical w-50 mx-auto">
            <button class="btn btn-secondary">マウティングゴリラ編</button>
            <button class="btn btn-secondary">超絶お嬢様編</button>
            <button class="btn btn-secondary">やばすぎる同僚編</button>
            <button class="btn btn-secondary">無能上司編</button>
            <button class="btn btn-secondary">変態担当者編</button>
        </div>
    </div>
    <br>