<div class="container text-center mt-3">
  <% case @stage %>
  <% when "1" %>
    <div class="mt-4">
        <%= image_tag 'gorilla2.jpg', alt: 'ゴリラ画像', class: 'img-fluid' %>
        <P>あなた「おはようございます」</p>
        <p>ゴリラ「あ？」</p>
        <p>のように会話スペースを作成する</p>
    </div>
  <% when "2" %>
    <%= image_tag 'ojousama.jpg', alt: 'お嬢様画像', class: 'img-fluid' %>
    <p>お嬢様 「かぜひいちゃたんで今日は行きません」</p>
    <p>あなた 「いやいや困るよ。あと1時間後には始まるんだよ」</p>
    <p>お嬢様 「体調悪いって言ってるのにこいって言うんですか？」</p>
    <p>あなた 「お大事に」</P>
  <% when "3" %>
  <%= image_tag 'douryou.jpg', alt: '同僚画像', class: 'img-fluid' %>
    <p>あなた「明日はこの仕事を担当してくれるかな？」</p>
    <p>同僚 「無理！無理！俺には無理！あっ。○○さんから電話だ。じゃあ」</P>
    <p>あなた 「.....」</P>
  <% when "4" %>
    <p>上司編の内容を表示します。</p>
  <% when "5" %>
    <p>担当者編の内容を表示します。</p>
  <% else %>
    <p>ステージを選んでください。</p>
  <% end %>
</div>